.board {
  width: 100dvw;
  max-width: calc(100dvw - 1rem);
  height: calc(100dvh - 65px - 1rem);
  background-color: var(--bg-color);
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  .column {
    width: 25%;
    border: dashed var(--color-fourth);
    margin: 1rem 0;
    padding: 0.5rem;
    .headline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      h2 {
        text-align: center;
        margin: unset;
      }
      button {
        font-size: 1rem;
      }
    }
    ul {
      list-style: none;
      padding: 0;
    }
  }
}

li {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  .card-title {
    padding: 0.5rem 1rem 0 1rem;
  }
  .card-body {
    padding: 0 1rem 1rem 1rem;
  }
}

.card-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-text {
  padding: 0 1rem;
}

.card-text--info {
  font-size: 0.8rem;
  min-width: 30%;
}

.btn-card {
  border: 1px solid var(--bg-overlay);
}
