@import "../../../styles.scss";

.board {
  width: 100dvw;
  height: calc(100dvh - 64px);
  background-color: var(--bg-color);
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  .column {
    width: 25%;
    border: dashed grey;
    margin: 1rem 0;
    padding: 0.5rem;
    .headline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      h2 {
        text-align: center;
        margin: unset;
      }
      button {
        // margin: 0 0 1rem 0;
        border: none;
        background-color: var(--bg-color);
        font-size: 2rem;
      }
    }
    ul {
      list-style: none;
      padding: 0;
    }
  }
}

.card-color {
  filter: alpha(opacity=50);
}
