<app-navbar></app-navbar>

<div class="board">
  <div class="column">
    <div class="headline">
      <h2>Todos</h2>
      <button (click)="toggleOverlay()" class="btn btn-primary">+</button>
    </div>
    <ul id="board-column-todo">
      <li
        *ngFor="let task of todoTasks"
        [style.backgroundColor]="getCardBackgroundColor(task.color)"
        class="card"
        style="width: 18rem"
      >
        <h5 class="card-title">{{ task.title }}</h5>
        <p class="card-text">{{ task.description }}</p>
        <div class="card-body">
          <div class="card-row">
            <p class="card-text--info">
              Erstell von:<br />
              {{ task.author_username }}
            </p>
            <p class="card-text--info">
              Priorität:<br />
              {{ task.priority }}
            </p>
          </div>
          <div class="card-row">
            <p class="card-text--info">
              Erstellt am:<br />
              {{ task.created_at }}
            </p>
            <p class="card-text--info">
              Fällig am:<br />
              {{ task.due_date }}
            </p>
          </div>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="column">
    <div class="headline">
      <h2>In progress</h2>
      <button (click)="toggleOverlay()" class="btn btn-primary">+</button>
    </div>
    <ul id="board-column-progress">
      <li
        *ngFor="let task of progressTasks"
        [style.backgroundColor]="getCardBackgroundColor(task.color)"
        class="card card-color"
        style="width: 18rem"
      >
      <h5 class="card-title">{{ task.title }}</h5>
      <p class="card-text">{{ task.description }}</p>
      <div class="card-body">
        <div class="card-row">
          <p class="card-text--info">
            Erstell von:<br />
            {{ task.author_username }}
          </p>
          <p class="card-text--info">
            Priorität:<br />
            {{ task.priority }}
          </p>
        </div>
        <div class="card-row">
          <p class="card-text--info">
            Erstellt am:<br />
            {{ task.created_at }}
          </p>
          <p class="card-text--info">
            Fällig am:<br />
            {{ task.due_date }}
          </p>
        </div>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      </li>
    </ul>
  </div>
  <div class="column">
    <div class="headline">
      <h2>Feedback</h2>
      <button (click)="toggleOverlay()" class="btn btn-primary">+</button>
    </div>
    <ul id="board-column-feedback">
      <li
        *ngFor="let task of feedbackTasks"
        [style.backgroundColor]="task.color"
        class="card"
        style="width: 18rem"
      >
      <h5 class="card-title">{{ task.title }}</h5>
      <p class="card-text">{{ task.description }}</p>
      <div class="card-body">
        <div class="card-row">
          <p class="card-text--info">
            Erstell von:<br />
            {{ task.author_username }}
          </p>
          <p class="card-text--info">
            Priorität:<br />
            {{ task.priority }}
          </p>
        </div>
        <div class="card-row">
          <p class="card-text--info">
            Erstellt am:<br />
            {{ task.created_at }}
          </p>
          <p class="card-text--info">
            Fällig am:<br />
            {{ task.due_date }}
          </p>
        </div>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      </li>
    </ul>
  </div>
  <div class="column">
    <div class="headline">
      <h2>Done</h2>
      <button (click)="toggleOverlay()" class="btn btn-primary">+</button>
    </div>
    <ul id="board-column-done">
      <li
        *ngFor="let task of doneTasks"
        [style.backgroundColor]="task.color"
        class="card"
        style="width: 18rem"
      >
      <h5 class="card-title">{{ task.title }}</h5>
      <p class="card-text">{{ task.description }}</p>
      <div class="card-body">
        <div class="card-row">
          <p class="card-text--info">
            Erstell von:<br />
            {{ task.author_username }}
          </p>
          <p class="card-text--info">
            Priorität:<br />
            {{ task.priority }}
          </p>
        </div>
        <div class="card-row">
          <p class="card-text--info">
            Erstellt am:<br />
            {{ task.created_at }}
          </p>
          <p class="card-text--info">
            Fällig am:<br />
            {{ task.due_date }}
          </p>
        </div>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      </li>
    </ul>
  </div>
</div>

<app-new-task *ngIf="overlayState"></app-new-task>
