<app-navbar></app-navbar>

<div class="board">
  <div class="column">
    <div class="headline">
      <h2>Todos</h2>
      <button>+</button>
    </div>
    <ul id="board-column-todo">
      <li
        *ngFor="let task of todoTasks"
        [style.backgroundColor]="getCardBackgroundColor(task.color)"
        class="card"
        style="width: 18rem"
      >
        <h5 class="card-title">{{ task.title }}</h5>
        <div class="card-body">
          <p class="card-text">{{ task.description }}</p>
          <p class="card-text">{{ task.author }}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="column">
    <div class="headline">
      <h2>In progress</h2>
      <button>+</button>
    </div>
    <ul id="board-column-progress">
      <li
        *ngFor="let task of progressTasks"
        [style.backgroundColor]="getCardBackgroundColor(task.color)"
        class="card card-color"
        style="width: 18rem"
      >
        <h5 class="card-title">{{ task.title }}</h5>
        <div class="card-body">
          <p class="card-text">{{ task.description }}</p>
          <p class="card-text">{{ task.author }}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="column">
    <div class="headline">
      <h2>Feedback</h2>
      <button>+</button>
    </div>
    <ul id="board-column-feedback">
      <li
        *ngFor="let task of feedbackTasks"
        [style.backgroundColor]="task.color"
        class="card"
        style="width: 18rem"
      >
        <h5 class="card-title">{{ task.title }}</h5>
        <div class="card-body">
          <p class="card-text">{{ task.description }}</p>
          <p class="card-text">{{ task.author }}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="column">
    <div class="headline">
      <h2>Done</h2>
      <button>+</button>
    </div>
    <ul id="board-column-done">
      <li
        *ngFor="let task of doneTasks"
        [style.backgroundColor]="task.color"
        class="card"
        style="width: 18rem"
      >
        <h5 class="card-title">{{ task.title }}</h5>
        <div class="card-body">
          <p class="card-text">{{ task.description }}</p>
          <p class="card-text">{{ task.author }}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </li>
    </ul>
  </div>
</div>
