<div class="card">
  <div class="card-body">
    <form (ngSubmit)="login()">
      <div class="card-header">
        <h1>
          Scrum-Board <br />
          Login
        </h1>
      </div>
      <div class="mb-3 mt-4">
        <label for="usernameInput" class="form-label">Username</label>
        <input
          name="username"
          [(ngModel)]="username"
          type="text"
          id="usernameInput"
          class="form-control"
          placeholder="Username"
          [disabled]="!enabled"
          required
        />
      </div>

      <div class="mb-3">
        <label for="passwordInput" class="form-label">Password</label>
        <input
          name="password"
          [(ngModel)]="password"
          type="password"
          id="passwordInput"
          class="form-control"
          placeholder="Password"
          [disabled]="!enabled"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!enabled">
        Login
      </button>
    </form>
  </div>
</div>
