<div (click)="toggleOverlay()" class="overlay">
  <div class="card">
    <form (ngSubmit)="sendForm()">
      <div (click)="$event.stopPropagation()" class="card-body">
        <div class="card-body__header">
          <h2>New Task</h2>
          <p (click)="toggleOverlay()" class="btn btn-primary">X</p>
        </div>

        <div class="mb-3">
          <label for="formGroupTitle" class="form-label">Titel</label>
          <input
            type="text"
            class="form-control"
            id="formGroupTitle"
            [(ngModel)]="formTitle"
            name="formTitle"
            placeholder="Titel"
          />
        </div>
        <div class="mb-3">
          <label for="formGroupDescription" class="form-label"
            >Description</label
          >
          <textarea
            class="form-control"
            name=""
            id="formGroupDescription"
            [(ngModel)]="formDescription"
            name="formDescription"
            cols="30"
            rows="5"
            placeholder="Description"
          ></textarea>
        </div>

        <div class="container--form-select">
          <app-select-column (selectedColumnChange)="onSelectedColumnChange($event)"></app-select-column>
          <app-select-color></app-select-color>
        </div>

        <label>Priority</label>
        <app-new-task-prio></app-new-task-prio>

        <div class="container">
          <button type="submit" class="btn btn-primary">Add new task</button>
          <!--[disabled]="!enabled"-->
        </div>
      </div>
    </form>
  </div>
</div>
