<div class="overlay">
  <div class="card">
    <div class="card-body">
      <h2>New Task</h2>
      <div class="mb-3">
        <label for="formGroupTitle" class="form-label">Titel</label>
        <input
          type="text"
          class="form-control"
          id="formGroupTitle"
          placeholder="Titel"
        />
      </div>
      <div class="mb-3">
        <label for="formGroupDescription" class="form-label">Description</label>
        <textarea
          class="form-control"
          name=""
          id="formGroupDescription"
          cols="30"
          rows="5"
          placeholder="Description"
        ></textarea>
      </div>

      <div class="container--form-select">
        <select class="form-select" aria-label="Default select example">
          <option selected>Task column</option>
          <option value="board-column-todo">To Do</option>
          <option value="board-column-progress">Progress</option>
          <option value="board-column-feedback">Feedback</option>
          <option value="board-column-done">Done</option>
        </select>

        <select class="form-select" aria-label="Default select example">
          <option selected>Task Color</option>
          <option value="red" style="background-color: var(--card-bg-red)">
            Red
          </option>
          <option value="green" style="background-color: var(--card-bg-green)">
            Green
          </option>
          <option value="blue" style="background-color: var(--card-bg-blue)">
            Blue
          </option>
          <option
            value="yellow"
            style="background-color: var(--card-bg-yellow)"
          >
            Yellow
          </option>
          <option value="cyan" style="background-color: var(--card-bg-cyan)">
            Cyan
          </option>
        </select>
      </div>

      <label>Priority</label>
      <app-new-task-prio></app-new-task-prio>

      <div class="container">
        <button class="btn btn-primary">Add new task</button>
      </div>
    </div>
  </div>
</div>
