<div (click)="toggleOverlay()" class="overlay">
  <div class="card">
    <form #taskForm="ngForm" (ngSubmit)="submitForm(taskForm)">
      <div (click)="$event.stopPropagation()" class="card-body">
        <div class="card-body__header">
          <h2>New Task</h2>
          <p (click)="toggleOverlay()" class="btn btn-primary">X</p>
        </div>

        <div class="mb-3">
          <label for="formGroupTitle" class="form-label">Titel:</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'input-border-error': formTitleField.invalid && submitted
            }"
            id="formGroupTitle"
            [(ngModel)]="formTitle"
            name="formTitle"
            placeholder="Titel"
            #formTitleField="ngModel"
            required
          />
          <div
            *ngIf="
              formTitleField.invalid &&
              (formTitleField.dirty || formTitleField.touched || submitted)
            "
            class="error-message"
          >
            Das Feld darf nicht leer sein.
          </div>
        </div>
        <div class="mb-3">
          <label for="formGroupDescription" class="form-label"
            >Description:</label
          >
          <textarea
            class="form-control"
            name=""
            id="formGroupDescription"
            [(ngModel)]="formDescription"
            name="formDescription"
            cols="30"
            rows="5"
            placeholder="Description"
          ></textarea>
        </div>

        <div class="container--form-select">
          <app-select-column
            (selectedColumnChange)="onSelectedColumnChange($event)"
          ></app-select-column>
          <app-select-color
            (selectedColorChange)="onSelectedColorChange($event)"
          ></app-select-color>
        </div>

        <div class="container--form-select">
          <app-new-task-prio
            (priorityChange)="updatePriority($event)"
          ></app-new-task-prio>
          <app-new-task-due-date
            (dueDateChange)="onDueDateChange($event)"
            [parentSubmitted]="submitted"
          ></app-new-task-due-date>
        </div>

        <div class="container">
          <button type="submit" class="btn btn-primary">Add new task</button>
          <!--[disabled]="!enabled"-->
        </div>
      </div>
    </form>
  </div>
</div>
