<div (click)="toggleOverlay()" class="overlay">
  <div class="card">
    <form #taskForm="ngForm" (ngSubmit)="submitForm(taskForm)">
      <div (click)="$event.stopPropagation()" class="card-body">
        <div class="card-body__header">
          <h2>{{ isEditMode ? "Edit Task" : "New Task" }}</h2>
          <p (click)="toggleOverlay()" class="btn btn-primary">X</p>
        </div>

        <div class="mb-3">
          <label for="formGroupTitle" class="form-label">Titel:</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'input-border-error': formTitleField.invalid && submitted
            }"
            id="formGroupTitle"
            [(ngModel)]="formTitle"
            name="title"
            placeholder="Titel"
            #formTitleField="ngModel"
            required
          />
          <div
            *ngIf="
              formTitleField.invalid &&
              (formTitleField.dirty || formTitleField.touched || submitted)
            "
            class="error-message"
          >
            Das Feld darf nicht leer sein.
          </div>
        </div>
        <div class="mb-3">
          <label for="formGroupDescription" class="form-label"
            >Description:</label
          >
          <textarea
            class="form-control"
            id="formGroupDescription"
            [(ngModel)]="formDescription"
            name="description"
            cols="30"
            rows="5"
            placeholder="Description"
          ></textarea>
        </div>

        <div class="container--form-select">
          <app-select-column
            [(ngModel)]="selectedColumn"
            name="column"
          ></app-select-column>

          <app-select-color
            [(ngModel)]="selectedColor"
            name="color"
          ></app-select-color>
        </div>

        <div class="container--form-select">
          <app-new-task-prio
            [(ngModel)]="selectedPriority"
            name="priority"
          ></app-new-task-prio>

          <app-task-form-due-date
            [(ngModel)]="dueDate"
            name="due_date"
            [parentSubmitted]="submitted"
          ></app-task-form-due-date>
        </div>

        <div class="container">
          <button type="submit" class="btn btn-primary">
            {{ isEditMode ? "Update Task" : "Add new task" }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
