/* You can add global styles to this file, and also import other style files */
:root {
  --bg-color: rgb(232, 230, 230);
}
body {
  background-color: var(--bg-color);
}
app-login {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
