/* You can add global styles to this file, and also import other style files */
:root {
  --bg-overlay: rgba(0,0, 0, 0.4);
  --bg-color: rgb(232, 230, 230);
  --card-bg-red: rgba(255, 0, 0, 0.4);
  --card-bg-green:rgba(60, 179, 113, 0.4);
  --card-bg-blue:rgba(0, 0, 255, 0.4);
  --card-bg-yellow: rgba(255, 165, 0, 0.4);
  --card-bg-cyan:rgba(0, 255, 255, 0.4);
}
body {
  background-color: var(--bg-color);
}
app-login {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
